/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { ... }

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) { ... }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { ... } */

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 0px;
    z-index: 50;
}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0A0A0A;
    box-shadow: 1px 10px 33px -13px rgba(0, 0, 0, 0.75);
    z-index: 3;
}

.header_logo {
    position: relative;
    z-index: 5;
    margin-left: -118px;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
}

.header__item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    display: flex;
    gap: 30px;
    position: relative;
    z-index: 3;
}

.menu__link {
    font-weight: 400;
    font-size: 24px;
    color: #717171;
    transition: all 250ms linear;
}

.phone {
    position: relative;
    z-index: 3;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #717171;
    transition: all 250ms linear;
}

.phone:hover,
.menu__link:hover {
    color: #490E84;
}

@media (max-width: 767.98px) {
    body.lock {
        overflow: hidden;
    }

    .header__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        cursor: pointer;
        margin-left: 20px;
        z-index: 3;
    }

    .header__burger span {
        position: absolute;
        background: #717171;
        width: 100%;
        height: 2px;
        left: 0;
        top: 9px;
        transition: all 0.4s ease 0s;
    }

    .header__burger::before,
    .header__burger::after {
        content: '';
        background: #717171;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.4s ease 0s;
    }

    .header__burger::after {
        bottom: 0;
    }

    .header__burger.active span {
        transform: scale(0);
    }

    .header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }

    .header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .header__nav {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        background: #181818;
        transition: all 0.4s ease 0s;
    }

    .header__nav.active {
        top: 0;
    }

    .menu {
        flex-direction: column;
        padding: 120px 0 0 40px;
    }
}


@media (max-width: 991.98px) {

    .phone,
    .menu__link {
        font-size: 20px;
    }
}

@media (max-width: 767.98px) {
    .header {
        padding: 15px 0px;
    }

    .header_logo {
        margin-left: 20px;
    }
}

@media (max-width: 575.98px) {
    .phone {
        font-size: 16px;
    }
}

.main-block {
    background: #F5F5F7;
}

.main-block_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 171px 0px 40px 0px;
}

.title-primary {
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #490E84;
}

@media (max-width: 767.98px) {
    .title-primary {
        font-size: 50px;
    }
}

@media (max-width: 575.98px) {
    .title-primary {
        font-size: 27px;
    }

    .main-block_inner {
        padding: 115px 0px 40px 0px;
    }
}

.btn {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
    padding: 20px 114px;
    background: #490E84;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 250ms;
}

@media (max-width: 767.98px) {
    .btn {
        font-weight: 700;
        font-size: 16px;
        line-height: 25px;
        padding: 15px 55px;
    }
}

.btn:hover {
    background: #6d2bae;
}

.main-block__img_wrapper {
    max-width: 937px;
    height: auto;
    margin: 40px auto 0px auto;
}

.main-block__img {
    width: 100%;
}

.main-block_btn {
    margin-top: 23px;
}